@import 'normalise';
@import 'fonts';
@import 'mixins';

@mobile: 960px;

body {
    font-family: 'raleway';
    background-color: #F1F1F1;
    color: #333;
}

.site-content {
    max-width: 920px;
    margin: 20px auto 60px auto;
    background-color: white;
    box-shadow: 0 0 1px fade(black,20%);
    
    
    @media screen and (max-width:920px) {
        margin: 0;
    }
}

.banner {
    position: relative;
    img {
        max-width: 100%;
        display: block;
    }
    .main-title {
        position: absolute;
        bottom:16px;
        left: -16px;
        display: block;
        padding: 16px 32px;
        line-height: 1;
        margin: 0;
        background-color: white;
        //color: white;
    }
}

.prose {
    padding: 32px 92px;
    
    h1, h2 {
        font-family: 'gooddog';
    }
    
    p, ul {
        margin: 16px 0;
        line-height: 1.8;
        padding: 0;
    }
    
    p, li {
        font-size: 19px;
    }
    
    h1 {
        font-size: 61px;
        line-height: 1;
        margin: 16px 0;
    }
    
    h2 {
        font-size: 43px;
        margin: 16px 0;
    }
    
    li {
       list-style: disc;
       list-style-position: outside;  
    }
    
    ul ul {
        margin-left: 2em;
    }
    
    li li {
        list-style: square;
    }
    
    @media screen and (max-width: @mobile) {
        
        padding: 32px;
        
        
        h1 {
            font-size: 41px;
        }
        h2 {
            font-size: 36px;
        }
    }
    
}

//gallery

.gallery {
  &, ol, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .gallery-row {
    .flex-display();
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    
    li {
      margin-right: 10px;
      width: 100%;
      &:last-child {
        margin-right: 0;
      }
    }
    
  }//row
  
  img {
    display: block;
    width: 100%;
  }
  
  .diary-post & {
    margin-bottom: 20px;
  } 
  
  
}

abbr {
    cursor: help;
}