<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/slider/src/css/jquery.tosrus.all.css" />
        <title>{{ page.title }} - Buy Our Campervan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body class="{{ page.title | slugify }}">
        <main class="site-content">
            {{ content }}
        </main>     
    <!-- js -->
    <script src="{{ site.baseurl }}/js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/slider/src/js/jquery.tosrus.min.all.js"></script>
    
    
    <script src="{{ site.baseurl }}/js/camper.js" type="text/javascript"></script>
    
    
    
    </body>
</html>
